@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'AtlasGroteskReg';
  src: url('../public/fonts/atlasgrotesk-regular.woff2');
}
@font-face {
  font-family: 'AtlasGroteskMed';
  src: url('../public/fonts/atlasgrotesk-medium.woff2');
}

.work > span {
  position: unset !important;
}

.work-featured {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.custom_p p {
  margin-bottom: 10px;
}

.teris_font {
  @apply 2xl:text-[15px] 2xl:leading-[20px] xl:text-[15px] xl:leading-[20px] md:text-[15px] md:leading-[20px]  text-[13px] leading-[18px];
}
.teris_font_menu {
  @apply xl:text-[15px] xl:leading-[24px] md:text-[15px] md:leading-[24px]  text-[13px] leading-[18px];
}

.teris_font_bigp {
  @apply md:text-[19px] md:leading-[24px] text-[17px] leading-[22px];
}

.teris_screen {
  @apply xl:w-[60%] md:w-[749px];
}

.teris_screen_bigp {
  @apply md:w-[526px] lg:w-[526px] xl:w-[39.938rem];
}
