@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: "AtlasGroteskReg"; 
    src: url("../public/fonts/atlasgrotesk-regular.woff2");
  }
  @font-face {
    font-family: "AtlasGroteskMed"; 
    src: url("../public/fonts/atlasgrotesk-medium.woff2");
  }